@tailwind base;
@tailwind components;
@tailwind utilities;

[type="checkbox"]:checked,
[type="radio"]:checked {
  background-color: currentColor;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-color: transparent;
}

[type="radio"] {
  border-radius: 100%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}

[type="checkbox"],
[type="radio"] {
  --tw-shadow: 0 0 #0000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-origin: border-box;
  border-width: 2px;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  vertical-align: middle;
  border-color: currentColor;
}

[type="radio"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
  background-size: 40px;
}

.focus\:ring-2:focus {
  box-shadow: none !important;
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #111827;
  opacity: 1; /* Firefox */
  font-weight: 600;
}
